p  {
    color: blueviolet;
    font-family: courier;
    font-size: 130%;
  }
  
  div{
      margin-top: 100px;
      font-size: 110%;
  }
body{
    text-align: center;
    background-image: url("/CSS/images.png");
    background-repeat: no-repeat;
    margin: 10%;
    
}
