p  {
    color: blueviolet;
    font-family: courier;
    font-size: 130%;
  }
  submit{
      color: blue ;
  }
  div{
      margin-top: 50px;
      font-size: 110%;
  }
body{
    text-align: center;
    
}